name: Greeting from Mona

on:
  issue_comment:
    types: [created]

jobs:
  pr_commented:
    # This job only runs for pull request comments
    name: PR comment
    
    if: ${{ github.event.issue.pull_request }} && ${{ github.event.comment.body }} == "retest"
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "success"
