name: Greeting from Mona

on:
  issue_comment:
    types: [created, edited, deleted]

jobs:
  pr_commented:
    # This job only runs for pull request comments
    name: PR comment
    
    if: ${{ github.event.issue.pull_request }} && contains(github.event.comment.html_url, 'test')
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "testing"
